# FR - Web Scraping - Assignment - 2

In [1]:
# Let's import all the required libraries

from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

### Question 1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
# Let's load the drivers and URL

driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [3]:
# Let's call the Function Definition

#Let's enter the details in the search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#Let's enter the job title and location 
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

In [4]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [5]:
# Let's create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [6]:
# Let's scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Security Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst',
 'NiFi Data Analyst',
 'Data Analyst',
 'Requirement For Data Analyst(Advance excel candidates)',
 'SENIOR DATA ANALYST',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Looking For Rockstar Data Analyst @ Freshtohome (Series-C funded Comp)',
 'Data Analyst']

In [7]:
# Let's scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Bengaluru',
 'Bengaluru',
 'Bengaluru(2nd Phase JP Nagar)']

In [8]:
# Let's scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Philips India Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data',
 'Capgemini Technology Services India Limited',
 'Reliance Jio Infocomm Ltd.',
 'Emagine People Technologies Private Limited',
 'McAfee Software (India) Pvt. Ltd',
 'EZEU',
 'Career Hotspot & Services',
 'NetApp',
 'AceNet',
 'Freshtohome Foods Private Limited',
 'Liventus, Inc.']

In [9]:
# Let's scrape the exoerience required

experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in experience:
    experience_required.append(i.text)
experience_required

['1-4 Yrs',
 '4,50,000 - 5,50,000 PA.',
 'Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Pune, Delhi, Bengaluru, Gurgaon',
 '2-5 Yrs',
 '3,00,000 - 6,00,000 PA.',
 'Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru / Bangalore',
 '5-8 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-4 Yrs',
 'Not disclosed',
 'Bengaluru',
 '5-9 Yrs',
 'Not disclosed',
 'Chennai, Pune, Bengaluru, Hyderabad',
 '2-4 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-4 Yrs',
 '3,25,000 - 4,50,000 PA.',
 'Bengaluru',
 '0-1 Yrs',
 'Not disclosed',
 'Bengaluru',
 '4-6 Yrs',
 'Not disclosed',
 'Bengaluru',
 '8-9 Yrs',
 'Not disclosed',
 'Bengaluru',
 '0-2 Yrs',
 'Not disclosed',
 'Chennai, Bengaluru',
 '7-12 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bengaluru',
 '6-8 Yrs',
 'Not disclosed',
 'Chennai, Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bengaluru',
 '3-6 Yrs',
 '6,00,000 - 10,00,000 PA.',
 'Bengaluru(2nd Phase JP Nagar)']

In [10]:
# Let's create a DataFrame for our data

data_analyst_jobs=pd.DataFrame({})
data_analyst_jobs['Job Title']=job_title[0:10]    
data_analyst_jobs['Job Location']=job_location[0:10]
data_analyst_jobs['Company Name']=company_name[0:10]
data_analyst_jobs['Experience Required']=experience_required[0:10]
data_analyst_jobs

,Job Title,Job Location,Company Name,Experience Required
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Bengaluru,Flipkart Internet Private Limited,1-4 Yrs
1,Data Analyst - SAP,"Pune, Delhi, Bengaluru, Gurgaon",Boston Scientific Corporation,"4,50,000 - 5,50,000 PA."
2,Hiring Data Analysts on Contract,Bengaluru,Flipkart Internet Private Limited,Bengaluru
3,Senior Data Analyst,Bengaluru / Bangalore,Schneider Electric,3-5 Yrs
4,Data Analyst,Bengaluru,Shell India Markets Private Limited,Not disclosed
5,Security Data Analyst,Bengaluru,Philips India Limited,"Pune, Delhi, Bengaluru, Gurgaon"
6,"Data Analyst -Azure Data lake, Azure Data factory","Chennai, Pune, Bengaluru, Hyderabad",Mindtree Limited,2-5 Yrs
7,Business / Data Analyst,Bengaluru,IBM India Pvt. Limited,"3,00,000 - 6,00,000 PA."
8,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,Bengaluru
9,Intern Data Analyst,Bengaluru,Outsource Big Data,2-5 Yrs

### Question 2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [11]:
# Let's load the drivers and URL

driver = webdriver.Chrome('chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [12]:
# Let's call the Function Definition

#Let's navigate to search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#Let's enter the job title and location
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [13]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [14]:
# Let's create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [15]:
# Let's scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['Data Scientist - Python/ MATLAB/ Machine Learning Algorithms',
 'Lead Data Scientist - Machine Learning/ Data Mining',
 'Data Scientist - Machine Learning (Commerce BU)',
 'Data Scientist',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Opening For Sr. Data Scientist @ Tech Mahindra',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Data Scientist and Senior Data Scientist Academic Operations',
 'Sr. Analyst-Data Scientist',
 'Sr . Data Scientist',
 'DATA SCIENTIST / MACHINE LEARNING EXPERT',
 'Artificial Intelligence Analyst/Data Scientist',
 'Tech Mahindra is hiring For Data Scientist- Bangalore',
 'Data Scientist - Advanced Analytics',
 'Senior Data Scientist - Growth Markets',
 'Data Scientist',
 'Jr. Analyst- Data Scientist',
 'Data Scientist/Data Analyst-immediate',
 'Data Scientist']

In [16]:
# Let's scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Mumbai, Bengaluru',
 'Pune, Bengaluru',
 'Pune, Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi']

In [17]:
# Let's scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['Wrackle Technologies Pvt Ltd',
 'Wrackle Technologies Pvt Ltd',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Atos Syntel Private Limited',
 'Tech Mahindra Ltd.',
 'Tech Mahindra Ltd.',
 'AVI Consulting LLP',
 'CES Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Mindtree Limited',
 'NetApp',
 'Spectrus',
 'TalentCo Search Pvt Ltd',
 'tech mahindra ltd',
 'IBM India Pvt. Limited',
 'Twitter',
 'Diverse Lynx',
 'Mindtree Limited',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Country Veggie']

In [18]:
# Let's scrape the detail job description

from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")
job_description

['Job description\nData Scientist - Data Mining/ Machine Learning/ Statistical Analysis\n\nRequirements :\n\n- 3-9 years of strong experience in data mining, machine learning, and statistical analysis.\n\n- BS/MS/Ph.D. in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Matlab, Python, etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.\nRoleDatabase Architect/Designer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Sc in Computers, Statistics, Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization, MS/M.Sc(Science) in Computers, Statistics\nDoctorate :Doctorate Not Required\nKey Skills\nData ScienceData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Job description\nRoles and Responsibilities\nRequirements :\n\n- 6-9 years of strong experience in data mining, machine learning and statistical analysis.\n\n- BS/ MS/ PhD in Computer Science, Statistics, Applied Math, or related areas from Premier institutes ( only IITs / IISc / BITS / Top NITs or top US university should apply)\n\n- Ability to lead and deliver in a fast-paced start-up environment.\n\n- Fluency in tools such as Python/ R/ Matlab etc.\n\n- Strong intuition for data and Keen aptitude on large scale data analysis\n\n- Excellent written and verbal communication skills.\n\n- Ability to collaborate across teams and strong interpersonal skills.\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Other Specialization, Computers, Statistics\nPG :MS/M.Sc(Science) in Computers, Statistics\nDoctorate :Ph.D in Statistics, Computers, Other Doctorate\nKey Skills\nData ScienceRData ScientistData MiningStatistical AnalystMachine LearningMATLABPython',
 'Not Available',
 'Job description\nWorking experience in Artificial Intelligence, Python, R, Machine Learning\nExperience in data mining, Strong math skills (e.g. statistics, algebra)\nStrong programming skills in: R, Python and familiarity with Java, Scala, C - DB/NoSql - MongoDB, Neo4J, MySql. Cassandra, DynamoDB, Redshift\nExperience on Hadoop Map reduce, Pig, Hive, Mahout and Apache Spark, H20\nStrong experience in Data warehousing, ETL, BI (e.g. Tableau, Power BI) and Data Visualization tools (matplotlib, D3.js, Plotly.js, Shiny etc)\nExperience with Deep Learning tools Tensorflow, Theano, Caffe etc. - Elastic Search, NLP background and Machine Learning Platforms\nExperienced in deployment of High performance, Scalable Big Data Hadoop clusters and Web applications on cloud infrastructure (Azure, AWS, Bluemix etc)\nExperience in neural networks, regression, classification and clustering\nDeep industry knowledge on any of the following: Banking, Insurance, Retail Manufacturing\nDeep understanding of Statistical algorithms: Linear and Non-Linear models, classification problem, optimization techniques, Market mix models, A/B Testing and campaign management, Feature ranking/selection techniques, supervised/unsupervised learning, Collaborative filtering, Apriori Market Basket analysis, SVM, Gradient boosting, Survival analysis etc.\nTo help designing, innovating and building our next generation ML architecture\nFull time programming experience within an operation or technical department.\nIdentify valuable data sources and automate collection processes\nUndertake pre-processing of structured and unstructured data\nAnalyze large amounts of information to discover trends and patterns\nBuild predictive models and machine-learning algorithms\nCombine models through ensemble modelling\nPresent information using data visualization techniques\nPropose solutions and strategies to business challenges\nCollaborate with engineering and product development teams\nMentor others in the use of AI/Machine Learning\nRoleSubject Matter Expert\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Any Graduate in Any Specialization, Graduation Not Required\nPG :Post Graduation Not Required, Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required, Any Doctorate in Any Specialization\nKey Skills\nR AnalyticsArtificial IntelligenceData ScientistMachine LearningPython',
 'Not Available',
 'Not Available',
 'Job description\nRoles and Responsibilities\nSkill : NLP,Semantic model, NER model, Deep Learning\n\nNotice : who can join in a month max\n\nJob description :\n\n- 5+ years of experience using analytical toolslanguages like Python & R on large scale data\n\n- Must have Semantic model & NER experience\n\n- Experience working with pre-trained models, awareness of state-of-art in embeddings and applicability for use cases\n\n- Experience on Deep Learning for Image processing, Video analytics will be a plus\n\n- Must have strong experience in NLPNLGNLU applications using any popular Deep learning frameworks like Open CV, PyTorch, Theano, Tensor Flow, Caffe. Should have implemented solutions for industry use cases.\n\n- Demonstrated ability to engage with client stakeholders at multiple levels and provide consultative solutioning across different domains\n\n- Deep knowledge of techniques such as Linear Regression, gradient descent, Logistic Regression, Forecasting, Cluster analysis, Decision trees, Linear Optimization, Text Mining etc.\n\n- Must have experience in doing POCs\n\n- Strong applied fundamentals in data management, parallel computing and distributed systems; experience in productionizing & retraining models\n\n- Ability to guide and mentor teams of associates on solution development and approaches\n\n- Broad knowledge of fundamentals and state-of-the-art in NLP and machine learning\n\n- Coding skills in one or more programming languages such as Python, Scala, Java, C, C++\n\n- Expert high level of understanding on language semantic concepts & data standardization\n\n- Proven track record of successful models and practical implementation\n\n- Hands-on experience with popular ML frameworks such as TensorFlow\n\n- Experience with application development practices at scale, from problem definition to deployment.\n\n- Familiarity with Cloud services such as AWS, SageMaker etc. is considered a plus\n\n- Develop and apply Statistical Modeling techniques (e.g. Bayesian models and deep neural networks), optimization methods, and other ML techniques to different applications\n\n- Knowledge in Machine Learning techniques in entity resolution, common speech products or text search domain\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization, BCA in Computers\nPG :Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nTensorflowRNLPVideo AnalyticsData ScientistImage ProcessingData ModelingNLU/NLGDeep LearningPython',
 'Job description\nRoles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com\n\nRoleTechnical Architect\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nTensorflowObject DetectionAlgorithm DevelopmentAnalytical SkillsProgrammingMachine LearningDeep LearningPytorchData ScienceROpencvKerasComputer VisionPython',
 "Job description\n\nWe are hiring Data Scientist and Senior Data Scientist Academic Operations for our leading EdTech Client.\n\nCall/WhatsApp- Amit-9379292728\nEmail: amitkumar.s@randstad.in\n\nor Fill the google form - https://tinyurl.com/JobAppForm4\n\nJob Responsibilities:\nYour primary job responsibility will include (and not limited to):\nOwn the student's learning outcomes by providing them with support on the topics covered in the\ncurriculum.\nInvolve in the residency class room sessions to facilitate lectures and lab sessions\nBe the first point contact for participants for academic queries and manage discussion\ngroups\nMonitor participants academic performance and make learning interventions in the\nform of remedial sessions, coaching and mentoring\n\nCoordinate with faculty to create best in class learning material - video, reading material,\nassignments, exams\nDesign and conduct examinations to measure the learning outcome of participants\nIdentify & Solve interesting problems involving rich datasets in various domains.\nAccordingly, create capstone projects on the evolving use cases in the industry\nIdentify key emerging trends in the industry and maintain a rich reference material\nAssist program director and senior operations and academics managers in planning\non-campus sessions, preparing schedules, evaluation and grading\nIdentify key reporting metric sand create dashboards to enable quick decision making\nAutomation of manual data collection, data cleansing and exploratory data analysis\nCreate and maintain business and technical requirements\nIdentify technical solutions and perform feasibility analysis\nCreate technical roadmaps for the operations Team\nManage, identify and suggest processes for smoother program management to\nensure a consistent and trouble free learning experience\nCoordinate with IT and Admin to ensure smooth execution at various locations\nTravel to other cities if required to manage residencies\n\nRelevant Background:\nGraduate with an exceptional academic track record\nCompetency: (Top 3)\n1. Passion for learning and having great learning outcomes\n2. Ability to multitask and coordinate with multiple stakeholders\n3. Excellent knowledge in python, tableau and ML concepts\n\nRoleOther\nIndustry TypeEducation, Teaching, Training\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nTableauMachine LearningPython\nProgram ManagementExploratory Data AnalysisUse CasesFeasibility AnalysisData CleansingData CollectionDashboardsSchedule Preparation\nSkills highlighted with ‘‘ are preferred keyskills",
 'Job description\nRole Description:\nA Sr. Data Scientist who lead the development of analytics / machine learning / AI models for generating future prediction using data.\nResponsibilities : - Understanding the project requirement\n- Understand if there is any already existing ML model\n- Leading analytics project & provide necessary guidance to the team\n- Understand the data & doing EDA\n- Feature engineering - Building Data Science models\n- Validate & Piloting ML models\n- Model tuning & improvement\nRequired Skills:\n- Sound theoretical knowledge in ML algorithm and their application\n- Strong fundamental on statistics\n- Experience in leading multiple data science projects\n- Hands on experience on Machine learning / data science\n- Strong stakeholder management skills\n- Expert in Python - Hand on experience in SPARK Scala or PySpark\nAdded Advantage:\n- Hands on experience in Azure data bricks\n- Working experience in CPG domain\nSkills Required:\nDATA ANALYSIS, Machine learning, Python, Databricks\nRoleTeam Lead/Technical Lead\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nAnalystdata sciencesparkMachine learningSCALAStakeholder managementStatisticsAnalyticsPython']

In [19]:
# Let's create a DataFrame for our data

data_scientist_jobs=pd.DataFrame({})
data_scientist_jobs['Job Title']=job_title[0:10]    
data_scientist_jobs['Job Location']=job_location[0:10]
data_scientist_jobs['Company Name']=company_name[0:10]
data_scientist_jobs['Detailed Job Description']=job_description[0:10]
data_scientist_jobs

,Job Title,Job Location,Company Name,Detailed Job Description
0,Data Scientist - Python/ MATLAB/ Machine Learn...,Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nData Scientist - Data Mining/...
1,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,Job description\nRoles and Responsibilities\nR...
2,Data Scientist - Machine Learning (Commerce BU),Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Not Available
3,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru",Atos Syntel Private Limited,Job description\nWorking experience in Artific...
4,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,Not Available
5,Opening For Sr. Data Scientist @ Tech Mahindra,"Pune, Bengaluru",Tech Mahindra Ltd.,Not Available
6,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,Job description\nRoles and Responsibilities\nS...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
8,Data Scientist and Senior Data Scientist Acade...,Bengaluru,RANDSTAD INDIA PVT LTD,Job description\n\nWe are hiring Data Scientis...
9,Sr. Analyst-Data Scientist,Bengaluru,Mindtree Limited,Job description\nRole Description:\nA Sr. Data...

### Question 3: In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name, experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [20]:
#Let's call the Function Definition

def jobs_data_Scientist(url):
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    ds_job_title=[]
    ds_company_name=[]
    ds_location=[]
    ds_experience=[]
    ds_salary=[]
    
    #Let's navigate to the search column
    driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//button[@class="btn"]').click()
    time.sleep(10)
    
    # Let's create filter for job location
    driver.find_element_by_xpath('//span[@title="Delhi/NCR"]').click()
    time.sleep(5)
    
    # Let's create filter for salary
    driver.find_element_by_xpath('//span[@title="3-6 Lakhs"]').click()
    time.sleep(5)
    
    # Let's scrape the job tile
    job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    for i in job_titles:
        ds_job_title.append(i.text)
    
    # Let's scrape the company name
    company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    for i in company_name:
        ds_company_name.append(i.text)
    
    # Let's scrape the company location    
    location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for i in location:
        ds_location.append(i.text)
    
        
    # Let's scrape the experience
    experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
    for i in experience:
        ds_experience.append(i.text)
    
    # Let's scrape the salary
    salary=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi salary"]')
    for i in salary:
        ds_salary.append(i.text)
    
    # Let's create a DataFrame for our data
    ds_jobs=pd.DataFrame({})
    ds_jobs['Job Title']=ds_job_title[0:10]
    ds_jobs['Company Name']=ds_company_name[0:10]
    ds_jobs['Job Location']=ds_location[0:10]
    ds_jobs['Experience']=ds_experience[0:10]
    return ds_jobs

In [21]:
# Let's call the Calling Function

jobs_data_Scientist('https://www.naukri.com')

,Job Title,Company Name,Job Location,Experience
0,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
1,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,Not disclosed
2,Senior Data Scientist - Computer Vision,IRIS SOFTWARE Inc,Delhi NCR,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be..."
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",4-8 Yrs
4,Data Scientist,Ciena,Gurgaon Gurugram,Not disclosed
5,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",Gurgaon Gurugram
6,Data Scientist Machine Learning,Delhivery,Gurgaon,4-9 Yrs
7,Tech Mahindra hiring For Data Scientist- Noida,tech mahindra ltd,Noida,Not disclosed
8,Data Scientist - Commercial Planning and Analysis,Air Asia India Limited,"Delhi NCR, Gurgaon",Delhi NCR
9,Business Analyst - Data Scientist,HyreFox Consultants Pvt Ltd,Gurgaon,0-0 Yrs

### Question 4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get in the above shown page.
5. Finally create a dataframe of the scraped data.

In [22]:
#Let's call the Function Definition

def glass_door_job(url):
    
    # Let's create empty list for storing the data
    job_title=[]
    company_name=[]
    rating=[]
    days=[]
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # If we visit the glassdoor page we will observe that, to navigate into the page we have to do the login
    # Let's click on the sign-in butoon for logining
    driver.find_element_by_xpath('//div[@class="locked-home-sign-in"]').click()
    
    #Let's enter the demo login details
    driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('glassdoortestassignment@gmail.com')
    driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('Assignment@1234')
    time.sleep(5)
    
    #Let's maximize the window size because there are some text font size is will has other element details in short window
    driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
    driver.maximize_window()
    time.sleep(3)
    
    #Let's fill the requied details in search column and click search
    driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida (India)')
    time.sleep(5)
    
    #Let's search the desired detail which we hve entered
    driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
    time.sleep(5)
    
    jobs=driver.find_elements_by_xpath('//article[@id="MainCol"]/div/ul/li')
    for job in jobs:
        try:
            driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/span').click()
        except:
            pass
        
        job.click()
        time.sleep(3)
    
        # Let's scrape the data
        job_title.append((driver.find_element_by_xpath('//div[@class="css-1vg6q84 e1tk4kwz4"]')).text)
        company_name.append((driver.find_element_by_xpath('//div[@class="css-87uc0g e1tk4kwz1"]')).text.replace('\n',''))
        try:
            rating.append((driver.find_element_by_xpath('//span[@data-test="detailRating"]')).text)
        except:
            rating.append('NA')
        try:
            days.append((driver.find_element_by_xpath('//div[@data-test="job-age"]')).text)
        except:
            pass
        
    job_glass_door=pd.DataFrame({})
    job_glass_door['Job Title']=job_title[0:10]
    job_glass_door['Company Name']=company_name[0:10]
    job_glass_door['Rating of the Company']=rating[0:10]
    job_glass_door['Job Posted Days Ago']=days[0:10]
    return job_glass_door

In [23]:
# Let's call the Calling Function

glass_door_job('https://www.glassdoor.co.in/index.htm')

,Job Title,Company Name,Rating of the Company,Job Posted Days Ago
0,Data Scientist,Biz2Credit Inc3.7,3.7,30d+
1,Data Scientist,Adobe3.5,3.5,30d+
2,Data Scientist,Emerging India Group1.0,1.0,30d+
3,Data Scientist,WishFin4.0,4.0,30d+
4,Data Analytics Internship,Yellow Class5.0,5.0,30d+
5,Data Scientist/Analyst,Singh RanjayKumar(Proprietor Of Zee India Co),NA,30d+
6,Applied Data Scientist,dunnhumby4.2,4.2,30d+
7,Machine Learning Engineer/ Data Scientist,Dürr Somac GmbH,NA,30d+
8,Jr. Data Scientist,xtLytics3.0,3.0,30d+
9,Principal Data Scientist,Kronos Incorporated4.3,4.3,30d+

### Question 5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company.
6.Store the data in a dataframe.

In [24]:
#Let's call the Function Definition

def gd_salary(url):
    
    # Let's create empty list for storing the data
    gd_min_salary=[]
    gd_max_salary=[]
    gd_avg_salary=[]
    gd_company_name=[]
    gd_rating=[]

    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    
    
    #Let's navigate to search bar and then type the Data Scientist job, location Noida and then click search button
    driver.find_element_by_xpath('//*[@id="KeywordSearch"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="LocationSearch"]').send_keys('Noida (India)')
    time.sleep(3)
    driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]').click()
    time.sleep(5)
    
    #Let's search the element for required details
    companies=driver.find_elements_by_xpath('//div[@data-test="job-info"]/p[2]')
    avg_salary=driver.find_elements_by_xpath('//div[@class="col-2 d-none d-md-flex flex-row justify-content-end"]/strong')
    min_salary=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[1]')
    max_salary=driver.find_elements_by_xpath('//div[@class="common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container "]/span[2]')
    rating='NA'
    
    # Let's scrape the data
    for i in companies:
        gd_company_name.append(i.text)
    for i in avg_salary:
        gd_avg_salary.append(i.text)
    for i in min_salary:
        gd_min_salary.append(i.text)
    for i in max_salary:
        gd_max_salary.append(i.text)
        
    # Let's create a DataFrame for our data
    salaries=pd.DataFrame({})
    salaries['Company Name']=gd_company_name[:10]
    salaries['Avgerage Salary']=gd_avg_salary[:10]
    salaries['Minimum Salary']=gd_min_salary[:10]
    salaries['Maximum Salary']=gd_max_salary[:10]
    salaries['Rating of the Company']=rating[:10]
    return salaries

In [25]:
# Let's call the Calling Function

gd_salary('https://www.glassdoor.co.in/Salaries/index.htm')

,Company Name,Avgerage Salary,Minimum Salary,Maximum Salary,Rating of the Company
0,Delhivery,"₹ 12,64,182",₹450K,"₹11,630K",NA
1,Ericsson-Worldwide,"₹ 7,30,968",₹350K,"₹1,614K",NA
2,Tata Consultancy Services,"₹ 5,99,668",₹336K,"₹1,010K",NA
3,Accenture,"₹ 9,94,055",₹577K,"₹2,215K",NA
4,IBM,"₹ 7,39,040",₹587K,"₹2,732K",NA
5,UnitedHealth Group,"₹ 13,37,114",₹717K,"₹1,575K",NA
6,Valiance Solutions,"₹ 7,80,374",₹502K,"₹1,152K",NA
7,Innovaccer,"₹ 11,98,792",₹621K,"₹1,696K",NA
8,Cognizant Technology Solutions,"₹ 10,08,143",₹793K,"₹1,264K",NA
9,EXL Service,"₹ 11,34,989",₹576K,"₹1,500K",NA

### Question 6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.

In [26]:
#Let's call the Function Definition

def flipkart_sunglasses(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    driver.implicitly_wait(10)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sunglasses product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sunglass_brand_name=[]
    sunglass_description=[]
    sunglass_price=[]
    sunglass_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sunglass_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sunglass_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sunglass_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sunglass_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sunglasses_flip=pd.DataFrame({})
    sunglasses_flip['Product Brand']=sunglass_brand_name[:100]
    sunglasses_flip['Product Description']=sunglass_description[:100]
    sunglasses_flip['Price of Product']=sunglass_price[:100]
    sunglasses_flip['Discount on Product']=sunglass_discount[:100]
    return sunglasses_flip

In [27]:
# Let's call the Calling Function

flipkart_sunglasses('https://www.flipkart.com/')

,Product Brand,Product Description,Price of Product,Discount on Product
0,Polaroid,Polarized Rectangular Sunglasses (54),"₹2,520",30% off
1,Royal Son,UV Protection Retro Square Sunglasses (49),₹629,68% off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹499,37% off
4,Fastrack,UV Protection Wayfarer Sunglasses (56),₹599,33% off
...,...,...,...,...
95,Fastrack,UV Protection Rectangular Sunglasses (59),₹909,30% off
96,IDEE,Polarized Aviator Sunglasses (58),"₹1,176",60% off
97,Gansta,"UV Protection, Mirrored Wayfarer Sunglasses (53)",₹199,80% off
98,NuVew,"UV Protection, Mirrored, Night Vision, Riding ...",₹327,64% off
99,Aislin,"UV Protection Wayfarer, Round Sunglasses (63)",₹627,80% off

### Question 7: Scrape 100 reviews data from flipkart.com for iphone11 phone.
You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review

You have to scrape this data for first 100 reviews.

In [28]:
#Let's call the Function Definition

def iphone_100_review(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    # Let's scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    # Let's create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [29]:
# Let's call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
...,...,...,...
95,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
96,5,Worth every penny,Previously I was using one plus 3t it was a gr...
97,5,Wonderful,This is my first ever I phone. Before this I w...
98,5,Great product,Well you all know the specifications . One of ...
99,5,Highly recommended,It's my first time to use iOS phone and I am l...

### Question 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
Also note that all the steps required during scraping should be done through code only and not manually.

In [30]:
#Let's call the Function Definition

def flip_sneakers(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    
    #Let's navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #Let's search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    # Let's create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    # Let's scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    # Let's create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [31]:
# Let's call the Calling Function

flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,Earton,Casual Sneakers Shoes for Men Pack of 5 Combo(...,₹759,69% off
1,Rockfield,Sneakers For Men,₹399,60% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹474,76% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
...,...,...,...,...
95,Chevit,Super 445 Fashion Sneakers For Men,₹389,62% off
96,Lovehush,Men's Denim Casual Sneakers Jeans Shoes Sneake...,₹379,70% off
97,TR,Sneakers For Men,₹599,64% off
98,Ducati,Sneakers For Men,"₹1,299",62% off
99,LOOK TWICE,"LOOK TWICE Men's Casual Canvas Sport Shoes, Bo...",₹379,55% off

### Question 9: Go to the link -
https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”,
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [32]:
#Let's call the Function Definition

def shoes_myntra(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome(r'chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # Let's create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #Let's apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #Let's apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    # Let's scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    # Let's create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [33]:
# Let's call the Calling Function

shoes=shoes_myntra('https://www.myntra.com/shoes')
shoes

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,Puma,Men HYBRID NETFIT Running Shoe,Rs. 6599Rs. 10999(40% OFF)
1,ADIDAS Originals,Men Superstar Sneakers,Rs. 7699Rs. 10999(30% OFF)
2,ADIDAS,Men SOLAR DRIVE 19 M Running,Rs. 8639Rs. 11999(28% OFF)
3,Nike,PEGASUS FLYEASE Running Shoes,Rs. 7996Rs. 9995(20% OFF)
4,ADIDAS Originals,Men Nite Jogger Fluid Sneakers,Rs. 9749Rs. 12999(25% OFF)
...,...,...,...
95,ALDO,Women Sandals,Rs. 5399Rs. 8999(40% OFF)
96,Puma,SPEED Orbiter Running Shoes,Rs. 9749Rs. 12999(25% OFF)
97,UNDER ARMOUR,Women Charged Breathe TR 2,Rs. 7999
98,Kenneth Cole,Men Solid Leather Formal Brogues,Rs. 6293Rs. 8990(30% OFF)
99,Nike,Women AIR MAX VERONA Sneakers,Rs. 7996Rs. 9995(20% OFF)

##### We can observe from the above table that the price and discounted price of the shoes are tagged under same element id. So we have to split the price and discounted price.
##### And create a dataframe with the current price

In [34]:
shoes_myntra=shoes

In [35]:
# Let's spit the price and the discounted price

new_price=shoes_myntra['Price of the Shoes'].str.split("Rs.",n=2,expand=True)
shoes_myntra['Price in Rs']=new_price[1]

In [36]:
#Let's drop the old price column

shoes_myntra.drop(columns=('Price of the Shoes'),axis=1,inplace=True)

In [37]:
shoes_myntra

   Brand of the Shoes           Short Shoes Description Price in Rs
0                Puma    Men HYBRID NETFIT Running Shoe        6599
1    ADIDAS Originals            Men Superstar Sneakers        7699
2              ADIDAS      Men SOLAR DRIVE 19 M Running        8639
3                Nike     PEGASUS FLYEASE Running Shoes        7996
4    ADIDAS Originals    Men Nite Jogger Fluid Sneakers        9749
..                ...                               ...         ...
95               ALDO                     Women Sandals        5399
96               Puma       SPEED Orbiter Running Shoes        9749
97       UNDER ARMOUR        Women Charged Breathe TR 2        7999
98       Kenneth Cole  Men Solid Leather Formal Brogues        6293
99               Nike     Women AIR MAX VERONA Sneakers        7996

[100 rows x 3 columns]

### Question 10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”.
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [38]:
#Let's call the Function Definition

def laptop(url):
    
    # Let's load the drivers and URL
    driver = webdriver.Chrome('chromedriver.exe')
    driver.get(url)
    
    
    # Let's create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #Let's search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #Let's apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #Let's apply filter for "Intel Core i9"  
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
        
    # Let's scrape the data
    titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in titles:
        item_title.append(i.text)
    prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in prices:
        price.append(i.text)
    ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
    for i in ratings:
        rating.append(i.get_attribute('aria-label'))
        
    # Let's create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:10]
    amazon_laptops['Price']=price[:10]
    amazon_laptops['Rating']=rating[:10]
    return amazon_laptops

In [39]:
# Let's call the Calling Function

laptop('https://www.amazon.in/')

,Title,Price,Rating
0,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,"77,990",3.6 out of 5 stars
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"50,999",4.2 out of 5 stars
2,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,97,200",2.4 out of 5 stars
3,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"50,999",4.2 out of 5 stars
4,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,68,325",5.0 out of 5 stars
5,"MSI Gaming GL65 Leopard , Intel 9th Gen. i7-97...","89,990",4.2 out of 5 stars
6,MSI GF65 Thin Core i7 9th Gen - (16 GB/512 GB ...,"74,990",3.5 out of 5 stars
7,HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...,"75,493",4.0 out of 5 stars
8,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"85,990",4.1 out of 5 stars
9,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,"95,290",4.3 out of 5 stars

# THANK YOU!